{{!-- footer page --}}
<hr class="footer-line">

<footer>
    <div class="container my-3">
        <div class="row ">

            {{!-- youtube and facebook link --}}
            <div class="col-6 text-start align-items-center">
                <a href="#"><i class="bi bi-facebook icon-footer mx-3"></i></a>
                <a href="#"><i class="bi bi-youtube icon-footer mx-3"></i></a>
            </div>

                        {{!-- contact information --}}
            <div class="col-6 text-end d-flex justify-content-end align-items-center">
                <a href="#" class="footer-link">CONTACT US</a>
                <a href="#" class="footer-link">JOIN US</a>
            </div>
        </div>
    </div>
</footer>