:root{
    --primary-color: #03204c;
    --secondary-color: #3bc4e2;
}

.company-color{
    color: var(--primary-color);
}

.company-color-2{
    color: var(--secondary-color);
}

/* .navbar{
    padding: 0!important;
}

.title{
    display: inline;
}

nav .container-fluid{
    background-color: var(--primary-color);
}



.nav-link{
    color: #fff!important;
    font-weight: bold;
    white-space: nowrap;
}

.dropdown-menu{
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 0%;
    margin: 0px 8px;
    padding: 16px;
}

.nav-item{
    margin: 0px 8px;
}

.dropdown-item{
    color: #fff;
    background-color: transparent;
}

.dropdown-item :hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.dropdown .dropdown-menu .dropdown-item {
    display: block;
    margin-left: 16px;
    padding-left: 16px;
}

.dropdown:hover .dropdown-menu .dropdown-item:hover {
    display: block;
    color: var(--secondary-color);
    background-color: transparent;
}

.dropdown .dropdown-menu .dropdown-item[first-item] {
    text-decoration: underline;
    margin-left: 0;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu .dropdown-item[first-item]:hover {
    text-decoration: underline;
    margin-left: 0;
    cursor: default;
    color: #fff;
}

.dropdown-toggle::after{
    content: none;
}

a .bi-chevron-down{
    margin-left: 4px;
    font-weight: bolder;
    -webkit-text-stroke: 1px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon :focus {
    border: 1px solid #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.icon{
    font-size: 56px;
    text-align: center;
}

.icon-footer{
    color: gray;
    font-size: 40px;
}

.footer-link{
    color: var(--primary-color);
    margin-left: 24px;
    text-decoration: none;
    white-space: nowrap;
}  */

/* css in body */

main{
    margin-top: 80px;
}



.video iframe{
    width: 100%;
    height: 20rem;
}

.card{
    height: 440px;
    border-radius: 20px;
    padding-bottom: 24px;
}

.card-odd{
    color: #fff;
    background-color: var(--primary-color);
}

.card-even{
    color: var(--primary-color);
    background-color: whitesmoke;
}

.footer-link{
    font-size: large; 
    font-weight: bold; 
    text-decoration: none;
    color: var(--primary-color);
    text-decoration: none;
    white-space: nowrap;
}

.tag-content{
    margin-left: 24px;
}

@media only screen and (max-width: 992px){
    .card{
        height: 350px;
    }

    p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px){
    /* .navbar-brand img{
        width: auto;
        height: 80px;
        padding: 16px;
    }

    .nav-link{
        font-size: xx-large;
    }

    .nav-item{
        padding: 8px 0px;
    }

    .dropdown-item{
        font-size: xx-large;
    }

    .navbar-collapse{
        display: inline;
        left: 0!important;
        justify-content: start!important;
        margin-left: 8px;
        padding-bottom: 16px;

    }

    .navbar-nav{
        width: 80%;
    }

    .dropdown{
        width: 110%;
    }

    .nav-item .dropdown-menu{
        width: 90%;
        position: absolute;
        left: -12px;
    }

    .dropdown-toggle::after{
        content: none;
    }

    .bi-chevron-down{
        position: absolute;
        right: 0px;
        font-weight: bold;
    }

    .navbar-toggler{
        margin: 16px;
        padding: 8px;
    }

    .navbar-toggler-icon {
        height: 40px;
        width: 40px;
    }



    .btn-contact{
        color: #fff;
        background-color: var(--secondary-color)!important;
        font-size: xx-large;
        white-space: nowrap;
        margin-bottom: 16px;
    }  */

    /* CSS for main content */

    main .container{
        margin-top: 160px!important;
        max-width: 800px;
    }

    main .container h1{
        font-size: xx-large;
    }

    main .container h2{
        font-size: xx-large;
    }

    main .container h5{
        font-size: xx-large;
    }

    main .container p{
        font-size: x-large;
    }

    .video iframe{
        width: 100%;
        height: 25rem!important;
    }

    .card{
        height: auto;
        border-radius: 20px;
        padding-bottom: 24px;
    }
}



@media only screen and (min-width: 1500px) {
    .container .row{
        width: 95%;
    }

    .card{
        height: 350px;
    }
}

